@charset "UTF-8";
/* CSS Document */


html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Aktiv Grotesk", "san serif", "Aktiv Grotesk Light", "Aktiv Grotesk Medium", "Aktiv Grotesk Thin";
}

/*--- body ---*/


h1, h2, h3, h4, h5, h6{
	font-family: "Aktiv Grotesk", "sans serif";
}

h2{
	font:bold;
	font-size: 3em;
	color: #B3011E;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

main div{
	padding: 0px 8% 15px 8%;
}

.blue{
	background-color:#5B7B9A;
}

.lefthr{
	align: left; 
	width: 50%; 
	color: #6B381F;
	border: 0.2em solid #6B381F;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #6B381F;
	margin-top: 1em;
	margin-bottom: 1em;
}

.righthr{
	align: right; 
	width: 50%; 
	color: #6B381F;
	border: 0.2em solid #6B381F;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #6B381F;
	margin-top: 1em;
	margin-bottom: 1em;
}

/*--- GOOGLE MAPS ---*/
.map-container{
	overflow:hidden;
	position:relative;
	height:0;
	
}
.map-container iframe{
	height:100%;
	width:70%;
	padding-top: 2%;
	padding-bottom: 2%;
}

/*--- Header ---*/

header{
	background-color: #6B381F;
}

/*--- footer ---*/

footer{
    font-size: 1em;
    text-align: center;
    background-color: #6b381f;
	color: #fff;
	padding: 30px;
}


