@charset "UTF-8";
/* CSS Document */


html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Aktiv Grotesk", "san serif", "Aktiv Grotesk Light", "Aktiv Grotesk Medium", "Aktiv Grotesk Thin";
}

/*--- body ---*/


h1, h2, h3, h4, h5, h6{
	font-family: "Aktiv Grotesk", "sans serif";
}

/*--- Header ---*/




/*--- footer ---*/

footer{
    font-size: 1em;
    text-align: center;
    background-color: #6b381f;
	color: #fff;
	padding: 30px;
}


