@charset "UTF-8";
/* CSS Document */


html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Aktiv Grotesk", "san serif", "Aktiv Grotesk Light", "Aktiv Grotesk Medium", "Aktiv Grotesk Thin";
}

/*--- body ---*/


h1, h2, h3, h4, h5, h6{
	font-family: "Aktiv Grotesk", "sans serif";
}

h2{
	font:bold;
	font-size: 3em;
	color: #B3011E;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

main div{
	padding: 0px 8% 15px 8%;
}

/*--- GOOGLE MAPS ---*/

#gmap_canvas img{
	max-width:none!important;
	background:none!important;
	height:500px;
	width:50%;
}
#map{
	overflow:hidden;
	height:500px;
	width:50%;
}


.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

/*--- Header ---*/

header{
	background-color: #6B381F;
}

/*--- footer ---*/

footer{
    font-size: 1em;
    text-align: center;
    background-color: #6b381f;
	color: #fff;
	padding: 30px;
}


